@font-face {
    font-family: Inter;
    src: url(./Inter/Inter-Regular.ttf);
    font-weight: regular;
}
@font-face {
    font-family: Inter;
    src: url(./Inter/Inter-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Inter;
    src: url(./Inter/Inter-ExtraLight.ttf);
    font-weight: light;
}
@font-face {
    font-family: Poppins;
    src: url(./Poppins/Poppins-ExtraBold.ttf);
    font-weight: extrabold;
}
