div.vacation-body{
    height: 100vh;
    background-color: var(--bg-b-1);
    div.green-div{
        height: 50vh;
        width: 80%;
        margin: auto;
        background-color: var(--bg-g-1); 
    }
    .vacation-1{
        font-family: Poppins;
        font-weight: extrabold;
        font-size: 3rem;
        width: 30%;
        color: white;
    }
    .vacation-2{
        font-family: Poppins;
        font-weight: extrabold;
        font-size: 3rem;
        width: 30%;
        color: var(--bg-y-1);
    }
}