nav.navbar.navbar-expand-md {
  z-index: 9;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: transparent!important;
    a.navbar-brand{
        // background-color: magenta;
    }
    a.dropdown-toggle.nav-link {
        color: white;
        font-family: Inter;
        &::after {
            display: none;

        }
    }
    .navbar-toggler-icon{
        background: url(../../resources/Images/menu.svg)!important;
    }
}
.dropdown-item{
  font-family: Inter;
}